
<!-- <link rel="stylesheet" href="../public/style.css"> -->
<!-- <link rel="stylesheet" href="http://localhost:3000/style.css"> -->
<!-- 或者简写 但是不能再去掉后缀名 /可写可不写 -->
<link rel="stylesheet" href="/style.css">
<header>
  <h1>我是一个头部</h1>
  <span><%= like %></span>
</header>